{% extends 'pageLayout.html' %}

{% block body %}
  <h2>Admin Page</h2>
  {% from "helpers/formHelpers.html" import render_field %}
  <table class="table">
    <thead>
        <td scope="col">First Name</td>
        <td scope="col">Last Name</td>
        <td scope="col">Address 1</td>
        <td scope="col">Address 2</td>
        <td scope="col">City</td>
        <td scope="col">State</td>
        <td scope="col">Zip</td>
        <td scope="col">Country</td>
        <td scope="col">Date</td>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
          <td scope="row">{{row["first_name"]}}</td>
          <td scope="row">{{row["last_name"]}}</td>
          <td scope="row">{{row["address1"]}}</td>
          <td scope="row">{{row["address2"]}}</td>
          <td scope="row">{{row["city"]}}</td>
          <td scope="row">{{row["state"]}}</td>
          <td scope="row">{{row["zip"]}}</td>
          <td scope="row">{{row["country"]}}</td>
          <td scope="row">{{row["created_at"]}}</td>	
        </tr>
    {% endfor %}
    </tbody>
   </table>
  <form method="POST" action="">
    <input type="submit" class="btn btn-primary" value="Reset Database">
  </form>
{% endblock %}
